/*--------------------STYLE RTL-------------*
     *------------ 1. Header -------------- *
	*------------ 2. Search Pro ---------- *
	*------------ 3. Main Menu------- *
	*------------ 4. Vertical Menu ---------- *
	*------------ 5. Slideshow ----------- *
	*------------ 6. Breadcurmb ---------- *
	*------------ 7. Block Cart ---------- *
	*------------ 8. Footer -------------- *
	*------------ 9. Product Listing ----- *
	*------------ 10. Product Detail ------ *
	*------------ 11. Other Module ------- *
*/
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top; }

.media-left {
  padding-left: 10px; }

.col-lg-15 {
  float: right; }

.module h3.modtitle::before {
  right: 0;
  left: auto; }

.compare .fa-chevron-right {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg); }

.module.so-basic-product-style-dev .so-basic-product .item-wrap .panel-default .panel-heading .panel-title .counter {
  float: right; }

#yt_spotlight3 .module {
  float: right; }
#yt_spotlight3:before {
  left: auto;
  right: 0; }
#yt_spotlight3:after {
  left: 0;
  right: auto; }

.module.so-latest-blog {
  padding-left: 0;
  padding-right: 30px; }
  .module.so-latest-blog h3.modtitle .view-all {
    left: 0;
    right: auto; }

.module.style-dev-so-deals .so-deal.button-type2 .owl2-nav {
  right: auto;
  left: 0; }
.module.style-dev-so-deals .so-deal .extraslider-inner .owl2-item .product-thumb {
  direction: rtl; }

/*-----------------1. HEAER ----------------*/
#header .header-right-top .main-right {
  text-align: left; }
  #header .header-right-top .main-right ul.top-link > li {
    float: right; }

.header-top .header-top-right {
  text-align: left; }
  .header-top .header-top-right ul.top-link > li {
    float: right; }
    .header-top .header-top-right ul.top-link > li:after {
      right: auto;
      left: 0; }
    .header-top .header-top-right ul.top-link > li.account > a:before {
      left: inherit;
      right: 0; }
    .header-top .header-top-right ul.top-link > li > a:before {
      left: inherit;
      right: 0; }
.header-top .languages-block, .header-top .currencies-block {
  float: right;
  margin-right: 4px; }

/*------------2. SEARCH PRO ------------*/
.header-center .navbar-search #search input {
  float: right;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  border-left: 0; }

#sosearchpro.search-pro {
  margin-left: 0;
  float: right; }
  #sosearchpro.search-pro .icon-select::after {
    right: auto;
    left: -7px; }
  #sosearchpro.search-pro .dropdown-menu .media-left {
    float: right; }
  #sosearchpro.search-pro .input-group .select_category {
    float: right;
    border-width: 0  0 0 1px; }
  #sosearchpro.search-pro .input-group .input-group-btn {
    right: auto;
    left: 0; }
  #sosearchpro.search-pro .dropdown-menu {
    right: auto;
    left: -10px; }

#sosearchpro .icon-select::after {
  left: 0;
  right: inherit; }

/*------------ 3.MAIN MENU ------------*/
#menu .nav > li.wrap_custom_block > div.custom_block {
  left: 0;
  right: inherit; }

#menu .nav > li.wrap_custom_block > div.custom_block .featured .layout-color ul li a {
  padding: 7px 30px 7px 0; }
  #menu .nav > li.wrap_custom_block > div.custom_block .featured .layout-color ul li a:before {
    right: 0;
    left: inherit; }

#menu .nav > li ul + ul {
  padding-left: 0;
  padding-right: 20px; }

/*------------ 4.VERTICAL MENU ------------*/
.header-bottom .sidebar-menu .so-vertical-menu .cat-title .fa-chevron-circle-down {
  left: 12px;
  right: inherit; }
.header-bottom .sidebar-menu .so-vertical-menu > ul > li > ul {
  right: 100%;
  left: inherit; }
.header-bottom .sidebar-menu .so-vertical-menu > ul > li > a:after {
  transform: rotate(180deg);
  left: 10px;
  right: inherit !important; }
.header-bottom .sidebar-menu .so-vertical-menu > ul > li.more-wrap {
  text-align: right; }
  .header-bottom .sidebar-menu .so-vertical-menu > ul > li.more-wrap span.more-view i {
    padding: 0 0 0 5px; }

/*-------------- 5.SLIDESHOW -----------*/
#yt_header_right .htmlcontent-block {
  float: left; }
#yt_header_right #custom_popular_search {
  float: right; }
  #yt_header_right #custom_popular_search .so-searchbox-popular-title {
    float: right; }
  #yt_header_right #custom_popular_search .so-searchbox-keyword {
    float: right; }

/*---------------------- 6.BREADCRUMB -----------------*/
.breadcrumb > li + li:after {
  content: "\f104" !important;
  font-family: fontawesome;
  margin: 0 5px; }
.breadcrumb > li + li:before {
  display: none; }

.shopping_cart .shoppingcart-box a.btn {
  padding: 6px 10px 6px 20px; }
  .shopping_cart .shoppingcart-box a.btn i {
    margin-left: 5px;
    margin-right: 0; }

/*----------------8.FOOTER----------------*/
.block-payment {
  float: left; }

.footer-top-block .module ul.menu li a::before {
  float: right;
  margin-right: 0;
  margin-left: 5px;
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.footer-container .footer-navbar .module ul.menu li a:before {
  content: "\f100";
  margin-right: 0;
  margin-left: 5px;
  float: right; }

ul.footer-directory li h2 {
  margin-right: 0;
  margin-left: 5px; }

.footer-top-block .module ul.contact-address li .fa {
  margin-left: 5px;
  margin-right: 0; }

.footer-top-block .col-lg-15 {
  float: right; }

/*--------------- 9.PRODUCT LISTING -----------------*/
.product-filter.filters-panel .list-view {
  text-align: right; }

.module.block_category .box-content ul li span.button-view {
  left: 0;
  right: inherit; }
.module.block_category .box-content ul li ul li a:before {
  content: "\f104";
  margin-left: 0;
  margin-right: -12px;
  float: right; }
.module.block_category .box-content ul li ul li a:hover:before {
  margin-right: 0; }

.module.latest-product .media .media-left {
  float: right;
  margin-left: 20px;
  margin-right: 0; }

div.block_category .box-content ul li a {
  padding: 5px 0 5px 30px; }

.block_category .box-content ul li ul li a {
  padding: 0; }

#input-sort > option {
  padding-right: 12px !important; }

.products-list.grid {
  border-left: none;
  border-right: 1px solid #ddd; }
  .products-list.grid:before {
    left: 0;
    right: auto; }
  .products-list.grid .product-layout .product-item-container {
    border-width: 0 0 1px 1px; }

.products-list.list .label-sale {
  transform: rotate(-312deg);
  -moz-transform: rotate(-312deg);
  -webkit-transform: rotate(-312deg);
  -ms-transform: rotate(-312deg);
  left: auto;
  right: -47px;
  top: -20px; }
.products-list.list .label-new {
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  left: auto;
  right: -47px;
  bottom: -46px; }

/*---------------------- 10.PRODUCT DETAIL ------------------*/
.addthis_default_style .addthis_separator, .addthis_default_style .at4-icon, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300bs, .addthis_default_style .at300m {
  float: right !important; }

.up-sell-product h3.modtitle {
  padding: 12px 50px 12px 0 !important; }
  .up-sell-product h3.modtitle i {
    left: auto;
    right: 0; }

.left-content-product .content-product-left .thumb-video {
  left: auto;
  right: 30%; }

.product-detail .producttab .tabsslider.vertical-tabs ul.nav-tabs li:before {
  left: inherit;
  right: 0; }
.product-detail .producttab .tabsslider.vertical-tabs .tab-content {
  border-right: 1px solid #e6e6e6;
  border-left: 0; }
.product-detail .left-content-product .content-product-right .product-label .price {
  float: right; }
.product-detail .left-content-product .content-product-right .product-label .stock {
  float: left; }
.product-detail div.left-content-product .content-product-left {
  padding-left: 15px; }
.product-detail .left-content-product .content-product-right .box-info-product {
  float: right; }
  .product-detail .left-content-product .content-product-right .box-info-product .quantity .quantity-control {
    float: right; }
  .product-detail .left-content-product .content-product-right .box-info-product .cart {
    float: right;
    margin-left: 3px;
    margin-right: 0; }
  .product-detail .left-content-product .content-product-right .box-info-product .add-to-links ul li a {
    float: right; }
.product-detail div.left-content-product .content-product-right .box-review .ratings {
  margin: 0 0 0 20px; }
.product-detail div.left-content-product .content-product-right #product .box-date label {
  float: right;
  margin-right: 0;
  margin-left: 10px; }
.product-detail div.left-content-product .content-product-right #product .box-date button {
  float: left;
  border-left: 1px solid #ddd;
  border-right: 0; }
.product-detail div.left-content-product .content-product-right .product-box-desc .inner-box-desc:before {
  left: inherit;
  right: -20px; }
.product-detail .addthis_native_toolbox {
  float: right; }

.releate-products .product-layout {
  direction: ltr; }

div.related .releate-products.owl2-theme .owl2-nav div.owl2-next {
  float: left;
  left: 5px;
  right: inherit; }
div.related .releate-products.owl2-theme .owl2-nav div.owl2-prev {
  float: left;
  left: 0;
  right: inherit; }

.related .releate-products .product-item-container .product-item {
  direction: rtl; }

.text-danger {
  float: right; }

#product-accordion .panel .panel-heading a span.arrow-up {
  left: 0;
  right: inherit; }

#thumb-slider.owl2-carousel .owl2-stage-outer {
  direction: ltr; }

#tab-review .contacts-form span span.text-danger {
  margin-left: 15px;
  margin-right: 0; }

.mfp-close {
  left: 0;
  right: inherit; }

.banner-policy .policy a span {
  float: right !important;
  margin-left: 10px;
  margin-right: 0 !important; }

/*------------------------END PRODUCT DETAIL ----------------*/
/*-------------------------11. BONUS PAGES ---------------------------------------------*/
div.contact ul li {
  padding-left: 0;
  padding-right: 45px;
  float: right; }
  div.contact ul li:before {
    left: auto;
    right: 0; }

div.contacts .info-contact .icon {
  float: right;
  padding-left: 20px;
  padding-right: 0; }

.page-sitemap h1 {
  font-weight: normal;
  margin-bottom: 20px; }
.page-sitemap .arrow-list li:before {
  content: "\f104";
  float: right;
  margin-left: 10px;
  margin-right: 0; }

.page-login .well h2 {
  padding-left: 0;
  padding-right: 20px; }
  .page-login .well h2:before {
    left: inherit;
    right: 0; }
.page-login .customer-login .bottom-form input {
  float: left;
  margin-right: 0;
  margin-left: 10px; }
.page-login .customer-login .bottom-form a {
  padding-left: 0;
  padding-right: 16px; }

.account-register .buttons input.btn {
  float: left; }

.page-login .new-customer .bottom-form a {
  float: left;
  margin-left: 10px; }

.shopping_cart .shoppingcart-box:before {
  right: inherit;
  left: 114px; }

.shopping_cart {
  position: relative; }
  .shopping_cart a.top_cart .handle {
    float: right !important; }
  .shopping_cart a.top_cart .shopcart .title {
    text-align: right; }
  .shopping_cart a.top_cart .shopcart .text-shopping-cart {
    white-space: nowrap; }

.shopping_cart a.top_cart {
  white-space: nowrap; }

.shopping_cart .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background: #fff; }

/*---------------------------------------PAGE BLOG ----------------------*/
div.article-info .article-sub-title span.article-author {
  padding-right: 0;
  padding-left: 11px; }

div.article-info .article-sub-title span {
  border-right: 0;
  border-left: 1px solid #e5e5e5;
  float: right; }

.article-reply .author {
  float: right; }

.article-reply .comment-date {
  float: left; }

.blog-listitem .blog-item .itemBlogContent {
  padding-right: 30px;
  padding-left: 15px; }
  .blog-listitem .blog-item .itemBlogContent .article-sub-title .article-date i {
    margin-right: 0;
    margin-left: 5px; }
  .blog-listitem .blog-item .itemBlogContent .blog-meta {
    display: inline-block; }
    .blog-listitem .blog-item .itemBlogContent .blog-meta > span.comment_count {
      float: left; }
    .blog-listitem .blog-item .itemBlogContent .blog-meta span.author {
      padding-right: 0; }

div.article-info .related-comment .panel-body .form-group #comments {
  padding-right: 5px; }

/*------------------PAGE ABOUT ---------------------*/
div.about-us .about-content .image {
  float: right;
  margin-right: 0;
  margin-left: 30px; }
div.about-us .about-content .whychooseus ul li {
  padding-left: 0;
  padding-right: 30px; }
  div.about-us .about-content .whychooseus ul li:before {
    left: inherit;
    right: 0; }
div.about-us .about-content .title strong {
  padding: 0px 0 0px 15px; }
div.about-us .about-content .customersay .happy-title {
  right: 20px;
  left: inherit; }

.about-us .owl-dots {
  left: inherit;
  right: 47%; }
  .about-us .owl-dots .owl-dot span {
    float: right; }

.about-us .owl-carousel.owl-loaded {
  direction: ltr; }

.about-us .content-faq .panel .panel-title a {
  padding: 15px 25px  15px 0; }
  .about-us .content-faq .panel .panel-title a:before {
    right: 0;
    left: inherit; }
  .about-us .content-faq .panel .panel-title a:after {
    left: inherit;
    right: 6px; }

.yt-gallery ul li .item-gallery a h3.item-gallery-title {
  right: -105%;
  left: inherit; }

.yt-gallery ul li .item-gallery:hover h3.item-gallery-title {
  right: 0;
  left: inherit; }

.yt-gallery .tabnav li {
  float: right; }

/*--------------------So Megamenu Horizontal------------------------*/
.megamenu-style-dev .horizontal ul.megamenu > li {
  float: right; }

/*-------------------- So Megamenu  Vertical ------------------------*/
.megamenu-style-dev .navbar-default .vertical #menuHeading .megamenuToogle-wrapper .container > div {
  float: right;
  margin: 5px 0 0 9px; }
.megamenu-style-dev .navbar-default .vertical .vertical-wrapper::before {
  right: 13px;
  left: auto; }
.megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li .fa-caret-right {
  float: left;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg); }
.megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li a img {
  margin-right: 0;
  margin-left: 10px; }
.megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > .sub-menu {
  right: 100% !important;
  left: auto; }
.megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.item-vertical.vertical-style3 .content .image-position {
  right: auto;
  left: -20px; }
.megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.item-vertical.vertical-style1 .content {
  padding: 20px 20px 0 0; }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.item-vertical.vertical-style1 .content .col-sm-4 img {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg); }
.megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.item-vertical.vertical-style2 .content {
  padding-right: 20px;
  padding-left: 0; }
.megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.item-vertical.css-menu .content {
  box-shadow: 3px -1px 4px 0 rgba(0, 0, 0, 0.1); }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.item-vertical.css-menu .content .menu > ul > li b {
    float: left;
    transform: rotateY(-180deg); }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.item-vertical.css-menu .content .menu > ul > li ul {
    right: 100%; }

/*-----------------------------------*/
.module.style-dev-so-listing-tabs.style2 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel::before {
  left: auto;
  right: 2px;
  border-color: transparent #fff transparent transparent; }
.module.style-dev-so-listing-tabs .so-listing-tabs .ltabs-tabs-container .owl2-controls {
  right: auto !important;
  left: -2px; }
.module.style-dev-so-listing-tabs .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
  float: right; }
  .module.style-dev-so-listing-tabs .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel:before {
    right: 0;
    left: 10px; }
  .module.style-dev-so-listing-tabs .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel:last-child:before {
    left: 0; }

.custom-main-home .main-left {
  float: right; }

/*-----------------------------------*/
.newsletter .group-content {
  text-align: right; }
.newsletter .group-form .form-group .subcribe {
  right: auto;
  left: 0; }

/*-----------------------------------*/
.so-deal.button-type2 .owl2-nav {
  float: left; }
  .so-deal.button-type2 .owl2-nav .owl-prev {
    float: left; }
.so-deal.button-type2 .owl2-carousel .owl2-stage-outer {
  direction: ltr; }

/*------------------------------------*/
.module.so-latest-blog .so-blog-external .blog-external-simple .media .item .media-left {
  float: right; }
  .module.so-latest-blog .so-blog-external .blog-external-simple .media .item .media-left .image-item .media-date-added {
    left: auto;
    right: 0; }

/*# sourceMappingURL=rtl.css.map */
