@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bourbon/bourbon';
@import "color/orange";


// --* Module Templates *------------------
// ----------------------------------------
/*   1.HD devices Desktops     	  ( Devices > 1450px)
 *   1.Large devices Desktops     ( Devices >1200px)
 *   2.Medium devices Desktops     (992px > Devices > 1199px)
 *   3.Small devices Tablets      (991px > Devices > 768px)
 *   4.Extra small devices Phones ( Devices < 767px)
 */
 
/* 1.HD devices Desktops  
================================================== */
@media (min-width: 1450px) {
    @-moz-document url-prefix() {
        #thumb-slider .owl2-carousel .owl2-stage-outer{margin: 0 -2px;}
    }
}

/* 2.Large devices Desktops 
================================================== */
@media (min-width: $screen-lg-min) {
     .container{width:1200px}
    .col-lg-15 { width: 20%; float: left;}
}


/* 3.Medium devices Desktops 
================================================== */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { // 992px 1199px
    //
    .table-responsive .btn{margin: 5px;width: 40px;}
     /*Fix 5 columns*/
     /*-------------BLOCK SPOTLIGHT--------------*/
     #yt_spotlight3{
        &:before{background-size: cover;}
     }
    .col-sm-15 {width: 20%;float: left;}
    /*--------------------HEADER ----------------*/
    .navbar-search #search input{width: 92%;}
    #sosearchpro.search-pro{width: 57%;}
	#header .logo{
        padding: 38px 10px;
        
    }
     /*------------------ BREADCRUM ---------------*/
    
    //------------------MAIN MENU -------------------
    .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a{font-size: 13px;padding: 22px 10px 10px;
        strong{
            font-size: 12px;
            font-weight: 400;
        }
    }

    //-----CART ---------------
    .shopping_cart a.top_cart .shopcart .text-shopping-cart{font-size: 10px;}
    /*------------CUSTOM HTML ---------------*/
    .banner-wraps .m-banner img{width: 100%;}
    .men-women-acc .item{
        width: 31.65%;
        &:last-child{
            width: 36.7%;
        }
    }
    	
    /*-----------PRODUCT LISTING ----------------*/
     .products-list .product-layout .button-group{
        .wishlist,.compare{width: 30px; padding: 6px;}
        .addToCart{padding: 7px 5px;top: -1px;}
    }
    .products-list{
        &.grid .product-layout .product-item-container{padding: 20px 10px;}
        
    }
    .products-list .product-layout .product-item-container .left-block .countdown_box{text-align: center;}
    .so-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner .lt-image img{width: 100%;}
	
    //
    .module.style-dev-so-deals .so-deal .extraslider-inner.item-inner-dev .image-dev .list-button-dev{width: 38%;}
    
    .related .releate-products .product-item-container .product-item {
        .media-left{float: left;width: 30%;padding: 0 5px}
        .media-body{float: left;width: 70%;padding: 0 5px}
    }
    //
    .shopping_cart .shoppingcart-box::before{right: 55px;}
    //
    .newsletter{background-size: cover;}
    //RTL Language
    .rtl  {
        
        /*------------------ BREADCRUM ---------------*/
        
        //---------SO LISTING TABS
        .tab-slider .ltabs-items-container .ltabs-items .item-inner .button-group{padding: 0 10px 0 0;
            .addToCart span{font-size: 8px;}
        }
        //BLOG
        .blog-listitem .blog-item .itemBlogContent{
            .article-sub-title .article-date i{margin-right: 0; margin-left: 5px;}
            .blog-meta{float: right;
                > span.comment_count{float: left;}
                span.author{padding-right: 0;}
            }
        }
        
        //---PRODUCTS LISTING
        .products-list .product-layout .button-group .addToCart{font-size: 9px;}
        
        //---PRODUCT DETAIL-------------
        .left-content-product .row{margin: 0;}
        .related .releate-products .product-item-container .product-item {
            .media-left{float: right;}
            .media-body{float: right;}
        }
        //
         .shopping_cart .shoppingcart-box::before{left: 55px;right: auto}
        //------------------FOOTER -----------
    }//---End RTL ---
    
	
}

/* 4.Small devices Tablets
================================================== */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {// 768px 991px
    /*Fix 5 columns*/
    .col-sm-15 {width: 20%;float: left;}

    //
    .table-responsive{
        .btn{
            width: 40px;
            margin: 5px;
        }
    }
    //
    .yt-pricing .style2.column:last-child{padding: 0 15px !important;}
    //
    .wishlist a{padding: 6px;}
    //
     .left_column .responsive.megamenu-style-dev{position: relative;z-index: 1;}
    /*-------HEADER-------*/
    #header{
        z-index: 9999999;position: relative;
        .logo{
          background: none;
        }
        background: $background1;
        .navbar-phone, .navbar-welcome{
            color: #fff;
            i{color: #fff;}
        }
        .header-right-top{
            &:before{
                left: 15px;
                right: 15px;
            }
        }
    }
    .logo img{padding: 10px 50px;}
    .navbar-logo{text-align: center; margin-bottom: 30px;}
     .res .collapsed-block {
		.tabBlockTitle{
            margin: 0;
            padding: 6px 0;
            color: #fff;
			.expander {   cursor: pointer;padding: 0 8px;font-size: 12px;text-decoration: none;color: #fff;}
		}
		.tabBlock {
            display: none;
            position: absolute;
            top: 100%;
            right: 15px;
            background: #fff;
            box-shadow: 1px 1px 2px #444;
            z-index: 2;
            
        }
    }
    #sosearchpro.search-pro{float: left;width: 49%;
        button.dropdown-toggle{
            color: #fff;
            border-color: #fff;
            height: 46px;
            width: 42px;
            border-radius: 0;
            &:hover{border-color: #fff}
        }
    }
     /*------------------ BREADCRUM ---------------*/
           //--------------MAIN MENU --------------

    #menu.navbar{margin: 0;}
     #menu .nav > li .dropdown-menu.custom_block{margin: 0 15px; width: auto;   
        ul.row-list{display: block;
            li{border: 0;}
        }
    }
    .responsive ul.megamenu{
        > li.active .close-menu{
            right: 0;
        }
    }
    .megamenu-style-dev{
        &.responsive {
            div[class^=col-]{width: 100%;}
            ul.megamenu > li.click::before, ul.megamenu > li.hover::before{
                padding: 5px 10px;
                font-size: 14px;
                background: $background1;
                color: #fff;
               
            }
            ul.megamenu > li.active {
                > a{ padding: 5px 10px;}
                .close-menu{
                    padding: 0;width: 30px;line-height: 30px;background: $background1;
                    &:before{
                        color: #444;
                        font-size: 12px;
                        line-height: 35px;
                    }
                }
            }
           .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee;}
        }
        .navbar-default .horizontal{
            
            .navbar-toggle{
                height: 46px;
                margin: 13px 0 0 ;
                color: #fff;
                border-radius: 0;
                border: 1px solid #fff;
                background: $background1;
                .icon-bar{
                    background: #fff;
                   
                }
            }
            .megamenu-wrapper{
                background: #fff;
                 ul.megamenu > li{
                        &.active > a{padding: 5px 10px;}
                        > a{
                        color: #444;
                        padding: 5px 0;
                        &:hover{
                            color: $linkColor;
                        }
                    }
                }
                ul.megamenu li .sub-menu .content .title-submenu{padding: 0;margin: 0;border: none;}
            }
        }
    }
    #menu .nav > li:hover > .dropdown-menu.custom_block ul{display: block;}
    //--------------VERTICAL MENU-----------------------
    .megamenu-style-dev .navbar-default{
        .vertical {
            #menuHeading{
                display: block;
                margin: 0;
            }
            .navbar-header{display: none;}
            .vertical-wrapper{

                visibility: visible;
                width: 100%;
                max-height: none;
                transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -ms-transform: translate3d(0px, 0px, 0px);
                ul.megamenu{
                    .item-vertical.vertical-style3 .content .image-position{
                        transform: scale(0.8);
                        -moz-transform: scale(0.8);
                        -webkit-transform: scale(0.8);
                        -ms-transform: scale(0.8);
                    }
                    .item-vertical.css-menu .content .menu > ul > li ul{
                        box-shadow: none;
                        li{
                            padding: 5px 0;
                        }
                    }
                }
                ul.megamenu > li{
                    border-bottom: 1px dotted #eee;
                    margin-top: 1px;
                    a i{display: none;}
                    &.loadmore{
                        border: none;
                    }
                    &.hover{
                        &:before{
                            font-size: 10px;
                            color: #444;
                            height: 43px;
                            line-height: 43px;
                            width: 30px;
                            background: #eee;
                            text-align: center;
                            cursor: pointer;
                            padding: 0;
                        }
                        &:hover{
                            &:before{
                                background: none;
                                color: #fff;
                            }
                            
                        }
                    }
                    &.active {
                        background: $background1;
                        color: #fff;
                        .close-menu{
                        background: #eee;
                        font-size: 10px;
                        color: #444;
                        }
                    }
                }
            }
        }
    }
    
    /*----------CONTENT ---------*/
    .common-home #content{
        .row{margin: 0;}
    }
    
    /*--------------------MOD-------------------*/
   .newsletter{
    background-size: cover;
        .group-form .form-group .subcribe{
            position: static;
            button{
                width: 100%;
                padding: 8px 15px;
                margin: 10px 0 0 ;
                font-size: 14px;
            }
        }
   }
   //
   .shopping_cart {
        a.top_cart{
        width: 50%;
        margin: auto;
        background: darken($background1, 8%);
        }
        .shoppingcart-box{
            left: 50%;
            transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        }
   }
    //
    .module.style-dev-so-deals .so-deal .extraslider-inner .owl2-item{
        border-right: 1px solid #eee;
        .item-time .time-item{
            min-width: 50px;
        }
    }
    //
    #yt_spotlight3{
        padding: 0 0 30px;
        &:before{
            height: 50%;
            width: 100%;
        }
        &:after{
            height: 50%;
            width: 100%;
            top: 50%;
        }
        .module{
            width: 100%;
        }
    }
    /*----------------------- CUSTOM HTML --------------------*/
   
    .banner-wraps .m-banner img{width: 100%;}
    .men-women-acc .item{
        width: 31.65%;
        &:last-child{
            width: 36.7%;
        }
    }

    /*---------------PRODUCT LISTING -------------*/
    .products-list .product-layout .button-group{
        .wishlist,.compare{width: 30px; padding: 6px;}
        .addToCart{padding: 7px 5px;}
    }
    .short-by-show .short-by{float: left;
        select#input-sort{width: 100px;}
    }
    .product-filter .box-pagination{float: right;}
    .products-list.grid .product-layout .product-item-container{min-height: 348px;}
    /*------------PRODUCT DETAIL ----------------*/
    .left-content-product .content-product-right .box-info-product{
        .cart input{padding: 12px 5px;}
    }
    .thumb-vertical-outer span.view_scroll_spacer a.prev{left: 34px;}
    .thumb-vertical-outer span.view_scroll_spacer a.next{left: 30px;}
    .left-content-product .content-product-right .box-info-product .add-to-links {width: 100%; float: left; margin-top: 10px;}
    /*---------------BLOG -------------*/
    div.blog-item .itemBlogImg{float: none;margin: 0 0 10px;
        .article-image{float: left; margin-bottom: 30px;}
        a{float: none;}
    }
     .blog-listitem .blog-item .itemBlogContent{
        .article-description{text-align: justify;}
        
        .blog-meta{
            > span.comment_count{float: left;}
            span.author{padding-right: 0;}
        }
    }
    
    /*------Style About us ------*/
	.about-us{
        .about-content{
            .title strong{font-size: 20px;}
            .wellcomeshop .media-body{overflow: visible; float: left; margin-top: 20px; width: 100%;}
            .ourmember.page-heading .pre-text{text-align: center; padding: 0;}
            
            
        }
        .client-logo-slider {
            .owl2-controls .owl2-nav div{display: none !important;}
            &:hover{
                .owl2-controls .owl2-nav div{display: block !important;}
            }
        }
    } 
	.about-us .owl-dots{left: 43%;}
    
    /*----------------- FOOTER ---------------*/
    .footer-navbar .box-account {clear: both;}
    
	//RTL Languae
	.rtl {
        
        /*------------------ BREADCRUM ---------------*/
        

         //------------MENU--------------
        .responsive ul.megamenu{
            > li.click,
            > li.hover{
                &:before{
                    right: auto;
                    left: 0;
                   
                }
                
            }
            > li.active .close-menu{
                right: auto;
                left: 0;
            }
        }
        .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > .sub-menu{left: auto;right: auto !important;}
         //------------PRODUCT LISTING
        .short-by-show .short-by{float: right;}
        .product-filter .box-pagination{float: left;}
        .products-list{
            .product-layout .button-group .addToCart{font-size: 9px; position: relative; top: -2px;}
        } 
        
        //---PRODUCT DETAIL-------------
        .left-content-product .row{margin: 0;}
        .left-content-product .content-product-right .box-info-product .add-to-links li.wishlist a{margin-right: 0;}
        /*----About us -------------*/
        .about-us{padding-right: 10px;
             .about-us .owl-dots{left: inherit; right: 44%;}
             .first{float: right;}
             .title strong{padding: 0 0 0 15px;}
             .image{float: right; margin-left: 30px; margin-right: 0;}
             .about-content .media-left{float: right; margin-right: 0; margin-left: 20px;}
        }
        /*---------------BLOG -------------*/
		div.blog-item .itemBlogImg{float: none;margin: 0 0 10px;
			a{float: right;}
		}

     }//----END RTL -----
}
/* 5.Extra small devices Phones
================================================== */
@media (max-width: $screen-xs-max) {// 767px
    .main-right ul.dropdown-menu{min-width: 95px;}
    .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15{width: 100%;margin: 0 0 20px;}
    .producttab .tabsslider .nav-tabs li.active a, .producttab .tabsslider .nav-tabs li:hover a{color: #444;}
    //
     .wishlist a{padding: 6px;}
    /*----------------------------- HEADER -----------------------*/
    
    #header{
        background: $background1;
       z-index: 9999999;position: relative;
        .navbar-phone, .navbar-welcome{
            color: #fff;
            i{color: #fff;}
        }
        .header-right-top{
            &:before{
                left: 15px;
                right: 15px;
            }
        }
        .logo{background: none;}
    }
    .logo img{padding: 10px 50px;}
    
    .header-center{padding: 10px 0;}
    .navbar-logo{text-align: center; margin-bottom: 20px; }
    .shopping_cart{ padding: 0 15px; text-align: center;margin-top: 15px;
		.btn-group{width: 100%;}
		.shoppingcart-box{min-width: 290px;}
		.shopcart > *{display: inline-block;}
		
    }
    #content{position: relative; overflow: hidden;}
    .header-top{min-height: 34px; 
        
        .languages-block,.currencies-block {margin:6px 0px; float: left;}
        .languages-block{margin-right: 4px;}
    }
    .header-top-right{float: right;}
	.res .collapsed-block {
		.tabBlockTitle{
            margin: 0;
            padding: 6px 0;
            color: #fff;
			.expander {   cursor: pointer;padding: 0 8px;font-size: 12px;text-decoration: none;color: #fff;}
		}
		.tabBlock {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background: #fff;
            box-shadow: 1px 1px 2px #444;
            z-index: 2;
            width: 320px;
            padding: 0 15px;
            .top-link a{font-size: 11px;padding: 6px 5px;span{font-size: 11px;}}
            #my_account .dropdown-toggle{padding: 6px 7px;}
            .languages-block .dropdown-menu{
                left: auto;
                right: 0;
            }
        }
    }
    //
    .shopping_cart .btn-group{width: 73%;margin: auto;}
    #content{position: relative; overflow: hidden;}
    #sosearchpro.search-pro{float: right;width: 49%;padding: 0;
        button.dropdown-toggle{
            color: #fff;
            border-color: #fff;
            &:hover{border-color: #fff}
        }
        .dropdown-menu{
            left: auto !important;
            width: 300px;
            border-radius: 0;
        }
    }
	.checkout-cart input.quaility{width: 50px;}
    //--------------VERTICAL MENU-----------------------
    .megamenu-style-dev .navbar-default{
        .vertical {
            #menuHeading{
                display: block;
                margin: 0;
            }
            .navbar-header{display: none;}
            .vertical-wrapper{

                visibility: visible;
                width: 100%;
                max-height: none;
                transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -ms-transform: translate3d(0px, 0px, 0px);
                ul.megamenu{
                    .item-vertical.vertical-style3 .content .image-position{
                        transform: scale(0.8);
                        -moz-transform: scale(0.8);
                        -webkit-transform: scale(0.8);
                        -ms-transform: scale(0.8);
                    }
                    .item-vertical.css-menu .content .menu > ul > li ul{
                        box-shadow: none;
                        li{
                            padding: 5px 0;
                            border: none;
                        }
                    }
                }
                ul.megamenu > li{
                    border-bottom: 1px dotted #eee;
                    margin-top: 1px;
                    a i{display: none;}
                    &.loadmore{
                        border: none;
                    }
                    &.hover{
                        &:before{
                            font-size: 10px;
                            color: #444;
                            height: 43px;
                            line-height: 43px;
                            width: 50px;
                            background: #eee;
                            text-align: center;
                            cursor: pointer;
                            padding: 0;
                        }
                        &:hover{
                            &:before{
                                background: none;
                                color: #fff;
                            }
                            
                        }
                    }
                    &.active {
                        background: $background1;
                        color: #fff;
                        .close-menu{
                        background: #eee;
                        font-size: 10px;
                        color: #444;
                        }
                    }
                }
            }
        }
    }
    //------------- MAIN MENU -----------------
    .responsive ul.megamenu{
        > li.active .close-menu{
            right: 0;
        }
    }
    .megamenu-style-dev{
        &.responsive {
            div[class^=col-]{width: 100%;}
            ul.megamenu > li.click::before, ul.megamenu > li.hover::before{
                padding: 5px 10px;
                font-size: 14px;
                background: $background1;
                color: #fff;
               
            }
            ul.megamenu > li.active {
                > a{ padding: 5px 10px;}
                .close-menu{
                    padding: 0;width: 30px;line-height: 30px;background: $background1;
                    &:before{
                        color: #444;
                        font-size: 12px;
                        line-height: 35px;
                    }
                }
            }
           .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee;}
        }
        .navbar-default .horizontal{
            
            .navbar-toggle{
                height: 50px;
                margin: 15px 0 0 ;
                color: #fff;
                border-radius: 0;
                border: 1px solid #fff;
                background: $background1;
                float: left;
                .icon-bar{
                    background: #fff;
                   
                }
            }
            .megamenu-wrapper{
                background: #fff;
                 ul.megamenu > li{
                        &.active > a{padding: 5px 10px;}
                        > a{
                        color: #444;
                        padding: 5px 0;
                        &:hover{
                            color: $linkColor;
                        }
                    }
                }
                ul.megamenu li .sub-menu .content .title-submenu{padding: 0;margin: 0;border: none;}
            }
        }
    }
    /*-------------BLOCK SEARCH --------------*/
    #sosearchpro .dropdown-menu{width: 100%;}
    #sosearchpro.search-pro{width: 100%; margin: 0 0 10px; padding: 0 15px;}
     
    /*----------------BLOCK MAIN MENU -------*/
    #menu .nav{margin: 0;}
    
    
    /*------------------ BREADCRUM ---------------*/
    
    #menu.navbar{margin: 0;}
   
    #sosearchpro .dropdown-menu{width: 100%;}

    /*----------------- BLOCK SLIDESHOW ---------------------*/
    
    #so-slideshow{width: 100%;
        .slideshow{height: auto;}
        .slideshow img{height: auto;}
    }
    
    .men-women-acc .item{
        width: 31.65%;
        span{
            font-size: 12px;
        }
        &:last-child{
            width: 36.7%;
        }
    }
    /*----------------- BLOCK SPOTLIGHT ---------------------*/

     //
    #yt_spotlight3{
        padding: 0 0 30px;
        &:before{
            height: 50%;
            width: 100%;
            background-size: cover;
        }
        &:after{
            height: 50%;
            width: 100%;
            top: 50%;
        }
        .module{
            width: 100%;
        }
    }
    /*----------------------MOD-------------------------*/
    .newsletter{background-size: cover;}
    //
    .module.style-dev-so-deals .so-deal {
        .extraslider-inner .owl2-item{
            border-right: 1px solid #eee;
            .item-time .time-item{
                min-width: 50px;
            }
        }
        .extraslider-inner.item-inner-dev .image-dev .list-button-dev{
            width: auto;
        }
    }
    /*----------------- BLOCK FOOTER ---------------------*/

    .copyright-text{margin-bottom: 10px;}
    .block-payment{float: none;}
    .box-service{clear: both;}
    .about-us {
        .client-logo-slider {
            .owl2-controls .owl2-nav div{display: none !important;}
            &:hover{
                .owl2-controls .owl2-nav div{display: block !important;}
            }
        }
        .about-content .media-left{float: none;}
    }
    .footer-top-block {
        .col-lg-15{
            width: 50%;
            &.footer-links{
                width: 100%;
            }
        }
    }
    .footer-bottom-block{
        text-align: center;
    }
    /*----------------- PRODUCT ---------------------*/
    .producttab .tabsslider .nav-tabs li{float: none;}
    .thumb-vertical-outer{padding-left:0;}
    .add-to-links{clear:both;
	     ul li{margin: 5px 0;display:inline-block;}
    }
    .content-product-right .title-product{margin: 10px 0;}
    .producttab .tabsslider .nav-tabs li.active a,
    .producttab .tabsslider .nav-tabs li:hover a{background-color: #eee;}
    .box-pagination{clear: both;}
    /*---------------BLOG -------------*/
     div.blog-item .itemBlogImg{float: none;margin: 0 0 10px;
        .article-image{float: left; margin-bottom: 30px;}
        a{float: none;}
    }
    .blog-listitem .blog-item .itemBlogContent{ float: none;text-align: center;
        .article-description{text-align: justify;}
    }
    //---------------BONUS PAGE---------------
    //-------ABOUT US------------------
    .about-us .about-content{
        .title strong{top: -9px;}
        .media-left{margin-bottom: 20px;}
        .whychooseus .title strong{top: 12px;}
        .ourmember.page-heading .pre-text{padding: 0 10px;}
        .ourmember.page-heading .title strong{top: 13px; left: 38%;}

    }
    .about-us .owl-dots{left: 35%;}
    .about-us .owl2-theme .owl2-controls .owl2-dots{left: 36%;
        .owl2-dot span{width: 15px; height: 15px;}
    }
    
    div ul.yt-accordion li.accordion-group h3.accordion-heading > span{font-size: 13px;}
    
    //------------BLOCK GALLERY -------------
    .yt-gallery ul.tabnav li{margin-bottom: 5px;}
    
    //--------RTL LANGUAGE----------------
    .rtl{
         &.res .collapsed-block .tabBlock{left: 0;right: auto;
            .languages-block .dropdown-menu{left: 0;right: auto;}
         }
        //
        .languages-block  .dropdown-menu{left: 0;right: auto;}
         //------------MENU--------------
        .responsive ul.megamenu{
            > li.click,
            > li.hover{
                &:before{
                    right: auto;
                    left: 0;
                  
                }
                
            }
            > li.active .close-menu{
                right: auto;
                left: 0;
            }
        }
        .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > .sub-menu{left: auto;right: auto !important;}
        //---------CART
        .shopping_cart a.top_cart{text-align: right;}
      
        
        /*----About us -------------*/
       .about-us .about-content .first{float: none;}
       .about-us{padding-right: 10px;
            .owl-dots{left: inherit; right: 32%;}
            .first{float: right;}
            .title strong{padding: 0 0 0 15px;}
            .image{float: right; margin-left: 30px; margin-right: 0;}
       }
       .about-us .about-content .whychooseus .title strong{top: -10px;}
	   .thumb-vertical-outer {padding: 0 0 0 10px;}
        
       //-------BLOG
        .blog-listitem .blog-item .itemBlogContent{
            float: none;
            text-align: center;
            .article-sub-title .article-date i{margin-right: 0; margin-left: 5px;}
            .blog-meta{float: none;
                > span.comment_count{float: none;}
                span.author{padding-right: 0;}
            }
        }
        #sosearchpro.search-pro{
           
            .dropdown-menu{
                left: 0 !important;
                right: auto !important;
                
            }
        }
        .table-responsive table{
            display: inline-block;
        }
    }//-----------END RTL--------------------

}

/* 5.Small devices Phones
================================================== */
@media (max-width: 479px){
	 //
    .products-list .product-layout{
        &.col-xs-6{width: 100%;}
    }
       //
    .left-content-product .content-product-left {
        #thumb-slider{
            display: none;
        }
        .large-image{width: 100%;}
    }
    //
    .men-women-acc {
        margin-top: 20px;
        .item{
            width: 100%;
            margin: 0 0 20px;
            &:last-child{
                width: 100%;
                margin: 0 ;
            }
        }
    }
    //
    .custom-main-home{
        .main-left{width: 100%;margin: 0 0 10px;}
        .main-right{width: 100%;}
    }
    //---------ABOUT US
        .about-us .owl2-theme .owl2-controls .owl2-dots{left: 0;}
        .about-us .about-content .ourmember.page-heading .title strong{left: 26%;}
        
    //----------- other pages
    
    //----------- other pages
   .checkout-cart input.quaility{width: 50px;}
    
    //----------------- FOOTER ---------------
       .contact-address{
           li{padding: 0;line-height: 18px;}
           span{margin-right: 10px;height: 30px;top: 4px;}
            > li:nth-child(2) {padding-top: 7px;
               span{margin-top: -1px;}
            }
           > li:last-child{padding-top: 8px;
               span{margin-top: 7px;}
           }
           
       }
       .custom-html-footer .col-lg-15{width: 100%;}
    /*-------------------BLOCK --------------------------*/
   
    #yt_spotlight3{
        &:before{
            height: 37%;
        }
        &:after{
            height: 63%;
            top: auto;
            bottom: 0;
        }
    }
    /*----------------MOD-------------------------*/
    #sosearchpro.search-pro{padding: 0 !important;
        button.dropdown-toggle{
            width: 30px;
        }
    }
 
    .customer-about-dev{
        padding: 95px 0 50px;
    }
    .customer-about-dev .carousel-inner .item .carousel-caption{padding: 0 38px;}
    .module.so-latest-blog {
        padding: 0;
        .so-blog-external .blog-external-simple .media .item{
            .media-left{
                display: block;
                width: 100%;
                margin: 0 0 20px;
                .image-item img{width: 100%;}
            }
            .media-body{
                display: block;
                width: 100%;
            }
        }
    }
    .megamenu-style-dev .navbar-default .navbar-toggle{
        margin-right: 9px;
        padding: 0;
        width: 30px;
        .icon-bar{margin: 3px auto;}
    }
    .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox{
        z-index: 2;
        .ltabs-tabs li{
            &:after{
                display: none;
            }
            .ltabs-tab-label{
            font-size: 12px;
            padding: 5px 10px;
            &:hover{
                background: $background1;
                color: #fff;
            }
            }
        }
    }
    .shopping_cart a.top_cart .handle{display: none;}
    .shopping_cart .dropdown-menu.pull-right{right: -75px;}
    //RTL Language
    .rtl {
        //
        .shopping_cart .dropdown-menu.pull-right{left: -75px;}
        .shopping_cart .shoppingcart-box a.btn{padding: 6px;}
        //----------BLOG  ------------
        div.article-info .article-sub-title span{
            &.article-comment{padding-right: 0; padding-left: 11px; border-left: 0;}
        }
        //----------------- FOOTER ---------------
        .contact-address li{
            span{margin-right: 0;}
        }
        
    }
	
}



