/*
 * ShowCase v2.1.0
 * Copyright 2016, iDiY
 * Support: info@idiy.club
 */

/* Main Style */
.sc-main:before, .sc-main:after, .sc-main .item-wrapper:before, .sc-main .item-wrapper:after {
    display: table;
    content: ' ';
}
.sc-main:after, .sc-main .item-wrapper:after {
    clear: both;
}
.sc-main .sc-grid {
    position: relative;
    display: none;
    margin-bottom: 20px;
}
.sc-main .sc-items-row {
    clear: both;
    overflow: hidden;
}
.sc-main .item-container {
    position: relative;
    overflow: hidden;
}
.sc-main .sc-grid .item-container, .sc-main .subitem-wrapper .item-container {
    float: left;
}
.sc-main .sc-grid .sc-carousel .item-container {
    float: none;
}
.sc-main .item-wrapper {
    overflow: hidden;
    margin-bottom: 20px;
}
.sc-main .img-left .item-image {
    float: left;
}
.sc-main .img-right .item-image {
    float: right;
}
.sc-main .item-image a {
    display: block;
    overflow: hidden;
    outline: none;
}
.sc-main .info-wrapper {
    overflow: hidden;
}
.sc-main .item-info .item-heading {
    padding: 0;
    background-color: transparent;
}
.sc-main .img-left .item-heading, .sc-main .img-right .item-heading {
    text-align: left;
}
.sc-main .sc-child {
    display: none;
    overflow: hidden;
}
.sc-main img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    border: 0;
}

/* Default Style */
.showcase .item-wrapper {
    border: 1px solid #ddd;
    background-color: #f7f7f7;
}
.showcase .item-wrapper:hover .item-heading a {
    color: #23a1d1;
    text-shadow: 0 1px 0 #fff;
}

/* Item Shadow */
.showcase .item-wrapper {
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}
.showcase .item-wrapper:hover {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
            box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
         -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
}

.showcase .item-wrapper:after {
    position: absolute;
    bottom: 4px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    content: '';
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
}
.showcase .item-wrapper.sc-toggle-active:after {
    border-top-color: #23a1d1;
}
.showcase .item-heading {
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    text-shadow: 0 1px 0 #fff;
}
.showcase .item-heading .item-count {
    line-height: 1;
    padding: 2px 5px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
}
.showcase .item-image {
    background-color: #fff;
}
.showcase .img-left .item-image {
    width: 35%;
    height: 100%;
}
.showcase .img-right .item-image {
    width: 35%;
    height: 100%;
}
.showcase .info-wrapper {
    padding: 15px 20px;
}
.showcase .item-info a {
    color: #111;
}
.showcase .item-info a:hover {
    color: #23a1d1;
}
.showcase .item-wrapper .item-description {
    line-height: 1.5;
    padding: 5px 0;
    text-shadow: 0 1px 0 #fff;
}
.showcase .img-top .rating, .showcase .img-bottom .rating, .showcase .img-top .price, .showcase .img-bottom .price {
    text-align: center;
}
.showcase .price-new {
    font-weight: 600;
}
.showcase .price-old {
    margin-left: 10px;
    text-decoration: line-through;
    color: #999;
}
.showcase .item-btn {
    margin: 10px 0;
    text-transform: uppercase;
}
.showcase .sc-parent-info {
    margin: 0 4px;
}
.showcase .sc-parent-title {
    font-size: 15px;
    margin-bottom: 5px;
}
.showcase .sc-parent-desc {
    margin-bottom: 15px;
}
.showcase .item-wrapper, .showcase .item-wrapper:after, .showcase a {
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}