/*--------------------STYLE RTL-------------*
     *------------ 1. Header -------------- *
	*------------ 2. Search Pro ---------- *
	*------------ 3. Main Menu------- *
	*------------ 4. Vertical Menu ---------- *
	*------------ 5. Slideshow ----------- *
	*------------ 6. Breadcurmb ---------- *
	*------------ 7. Block Cart ---------- *
	*------------ 8. Footer -------------- *
	*------------ 9. Product Listing ----- *
	*------------ 10. Product Detail ------ *
	*------------ 11. Other Module ------- *
*/
.media-body, .media-left, .media-right{
    display: table-cell;
    vertical-align: top;
}
.media-left{
    padding-left: 10px;
}
.module.icon-style {
    h3.modtitle{
        padding: 12px 50px 12px 0;
         i{left: auto;right: 0;}
    }
}
//
.compare{
    .fa-chevron-right{
        transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
    }
}
/*-----------------1. HEAER ----------------*/

.header-top{
    .header-top-right{text-align: left;
        ul.top-link > li{float: right;
            &:after{
                right: auto;
                left: 0;
            }
            &.account >a {
                &:before{left: inherit; right: 0;}
            }
            > a{
                &:before{left: inherit; right: 0;}
            }
        }
    }
    .languages-block, .currencies-block{float: right; margin-right: 4px;}
    .header-top .languages-block form > a{
        padding: 6px 10px 6px 0;
    }
}
/*------------2. SEARCH PRO ------------*/
.header-center .navbar-search{
    #search input{float: right; padding-right: 15px; border-right: 1px solid #ddd; border-left: 0;}
}
#sosearchpro.search-pro{margin-left: 0;  float: right;
    .icon-select::after{
        right: auto;
        left: -7px;
    }
    .dropdown-menu .media-left{float: right;}
    .input-group {
        .select_category{float: right;border-width: 0  0 0 1px}
        .input-group-btn{right: auto;left: 0;}
    }
}
#sosearchpro .icon-select::after{left: 0; right: inherit;}

/*------------ 3.MAIN MENU ------------*/
#menu .nav > li.wrap_custom_block > div.custom_block{left: 0; right: inherit;}
#menu .nav > li.wrap_custom_block > div.custom_block .featured .layout-color ul li a{padding: 7px 30px 7px 0;
    &:before{right: 0; left: inherit;}
}
#menu .nav > li ul + ul{padding-left: 0; padding-right: 20px;}

/*------------ 4.VERTICAL MENU ------------*/
.header-bottom .sidebar-menu{
    .so-vertical-menu .cat-title .fa-chevron-circle-down{left: 12px; right: inherit;}
    .so-vertical-menu > ul > li{
        > ul{right: 100%; left: inherit;}
        > a:after{transform: rotate(180deg); left: 10px; right: inherit !important;}
        &.more-wrap{text-align: right;
            span.more-view{
                i{padding: 0 0 0 5px;}
            }
        }
    } 
}
/*-------------- 5.SLIDESHOW -----------*/
#yt_header_right{
    
    .htmlcontent-block{float: left;}
    #custom_popular_search{float: right;
        .so-searchbox-popular-title{float: right;}
        .so-searchbox-keyword{float: right; }
    }
}
/*---------------------- 6.BREADCRUMB -----------------*/
.breadcrumb {
   
    > li + li{
      &:after{content: "\f104" !important;font-family: fontawesome;margin: 0 5px;}
      &:before{display: none;}
   }
}

.owl2-carousel.owl2-loaded{direction: ltr;}


//-------------------- 7. Block Cart  --------------
.shopping_cart .shoppingcart-box a.btn{padding: 6px 10px 6px 20px;
    i{margin-left: 5px; margin-right: 0;}
}
/*----------------8.FOOTER----------------*/
.block-payment{float: left;}
.footer-top-block .module ul.menu li a::before{float: right;margin-right: 0;margin-left: 5px;-moz-transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
.footer-container .footer-navbar .module ul.menu li a:before{content: "\f100"; margin-right: 0; margin-left: 5px; float: right;}
ul.footer-directory li h2{margin-right: 0; margin-left: 5px;}
.footer-top-block .module ul.contact-address li .fa{margin-left: 5px;margin-right: 0;}
.footer-top-block  .col-lg-15{float: right;}
/*--------------- 9.PRODUCT LISTING -----------------*/
.product-filter.filters-panel .list-view{text-align: right;}
.module.block_category .box-content ul li{
    span.button-view{left: 0; right: inherit;}
    ul li a:before{content: "\f104"; margin-left: 0; margin-right: -12px; float: right;}
    ul li a:hover:before{margin-right: 0;}
} 
.module.latest-product .media .media-left{float: right; margin-left: 20px; margin-right: 0;}
div.block_category .box-content ul li a{padding: 5px 0 5px 30px}
.block_category .box-content ul li ul li a{padding: 0;}
#input-sort > option{padding-right: 12px !important;}
.products-list.grid{
    border-left: none;
    border-right: 1px solid #ddd;
    &:before{
        left: 0;
        right: auto;
    }
    .product-layout .product-item-container{
        border-width: 0 0 1px 1px;
    }
}
.products-list.list {
    .label-sale{
        transform: rotate(-312deg);
        -moz-transform: rotate(-312deg);
        -webkit-transform: rotate(-312deg);
        -ms-transform: rotate(-312deg);
        left: auto;
        right: -47px;
        top: -20px;
    }
    .label-new{
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        left: auto;
        right: -47px;
        bottom: -46px;
    }
}
/*---------------------- 10.PRODUCT DETAIL ------------------*/
.addthis_default_style .addthis_separator, .addthis_default_style .at4-icon, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300bs, .addthis_default_style .at300m{float: right !important;}
.left-content-product .content-product-left .thumb-video{left: auto;right: 30%;}
.product-detail{
    .producttab .tabsslider.vertical-tabs{
        ul.nav-tabs{
            li:before{left: inherit; right: 0;}
        }
        .tab-content{border-right: 1px solid #e6e6e6; border-left: 0;}
    }
    .left-content-product .content-product-right .product-label{
        .price{float: right;}
        .stock{float: left}
    }
    div.left-content-product .content-product-left{padding-left: 15px;}
    .left-content-product .content-product-right .box-info-product{float: right;
        .quantity .quantity-control{float: right;}
        .cart{float: right; margin-left: 3px; margin-right: 0;}
        .add-to-links ul li a{float: right;}
    }
    div.left-content-product .content-product-right{
        .box-review .ratings{margin: 0 0 0 20px;}
        #product .box-date{
            label{float: right; margin-right: 0; margin-left: 10px;}
            button{float: left; border-left: 1px solid #ddd; border-right: 0;}
        }
        .product-box-desc .inner-box-desc:before{left: inherit; right: -20px;}
        
    } 
    .addthis_native_toolbox{float: right;}
}
.related .releate-products .product-item-container .product-item{direction: rtl;}
.releate-products .product-layout,
.owl2-carousel .owl2-stage-outer{direction: ltr;}
div.related .releate-products.owl2-theme .owl2-nav{
    div.owl2-next{float: left; left: 5px; right: inherit;}
    div.owl2-prev{float: left; left: 0; right: inherit;}
}

.text-danger{float: right;}
#product-accordion .panel .panel-heading a span.arrow-up{left: 0; right: inherit;}
#thumb-slider.owl2-carousel .owl2-stage-outer{direction: ltr;}

#tab-review  .contacts-form span span.text-danger{margin-left: 15px; margin-right: 0;}
.mfp-close{left: 0; right: inherit;}

.banner-policy .policy a span{float: right !important; margin-left: 10px; margin-right: 0 !important;}

/*------------------------END PRODUCT DETAIL ----------------*/

/*-------------------------11. BONUS PAGES ---------------------------------------------*/
//CONTACT
    div.contact ul li {padding-left: 0;padding-right: 45px;float: right;
         &:before {left: auto;right: 0;}
    }
    div.contacts .info-contact .icon{float: right; padding-left: 20px; padding-right: 0;}
   

//SITE MAP
.page-sitemap{
    h1{font-weight: normal; margin-bottom: 20px;}
    .arrow-list li:before{content: "\f104"; float: right; margin-left: 10px; margin-right: 0;}
} 

//-----------------------------PAGE LOGIN & REGISTER---------------
.page-login{
    .well h2{padding-left: 0; padding-right: 20px;
        &:before{left: inherit; right: 0;}  
    }
    .customer-login .bottom-form{
        input{float: left; margin-right: 0; margin-left: 10px;}
        a{padding-left: 0; padding-right: 16px;}
       } 
}

.page-login .new-customer .bottom-form a{float: left; margin-left: 10px;}


//-- PAGE CART SHOPPING
.shopping_cart .shoppingcart-box:before{right: inherit; left: 114px;}
.shopping_cart{position: relative;
    a.top_cart .handle{float: right;  }
    a.top_cart .shopcart .title{text-align: right;}
    a.top_cart .shopcart .text-shopping-cart{white-space: nowrap;}
   
}
.shopping_cart a.top_cart{white-space: nowrap;}
.shopping_cart .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{background: #fff;}


/*---------------------------------------PAGE BLOG ----------------------*/
div.article-info .article-sub-title span.article-author{padding-right: 0; padding-left: 11px;}
div.article-info .article-sub-title span{border-right: 0; border-left: 1px solid #e5e5e5; float: right;}
.article-reply .author{float: right;}
.article-reply .comment-date{float: left;}
.blog-listitem .blog-item .itemBlogContent{padding-right: 30px; padding-left: 15px;
    .article-sub-title .article-date i{margin-right: 0; margin-left: 5px;}
    .blog-meta{display: inline-block;
        > span.comment_count{float: left;}
        span.author{padding-right: 0;}
    }
}
div.article-info .related-comment .panel-body .form-group #comments{padding-right: 5px;}
 
/*------------------PAGE ABOUT ---------------------*/
 div.about-us .about-content{
         .image{float: right; margin-right: 0; margin-left: 30px;}
         .whychooseus ul li{padding-left: 0; padding-right: 30px;
              &:before{left: inherit; right: 0;}	
         }
         .title strong{padding: 0px 0 0px 15px;}
         .customersay .happy-title{right: 20px; left: inherit;}
    }
    .about-us .owl-dots{left: inherit; right: 47%;
         .owl-dot span{float: right;}
    }
    .about-us .owl-carousel.owl-loaded{direction: ltr;}

.about-us .content-faq .panel .panel-title a{padding: 15px 25px  15px 0;
    &:before{right: 0; left: inherit;}
    &:after{left: inherit; right: 6px;}
}
.yt-gallery ul li .item-gallery a h3.item-gallery-title{right: -105%; left: inherit;}
.yt-gallery ul li .item-gallery:hover h3.item-gallery-title{right: 0; left: inherit;}
.yt-gallery .tabnav li{float: right;}

/*--------------------So Megamenu Horizontal------------------------*/
.megamenu-style-dev .horizontal{
    ul.megamenu > li{float: right;}
}
/*-------------------- So Megamenu  Vertical ------------------------*/
.megamenu-style-dev .navbar-default .vertical{
    #menuHeading .megamenuToogle-wrapper .container{
        >div{
            float: right;
            margin: 5px 0 0 9px
        }
        
    }
    .vertical-wrapper::before{right: 13px;left: auto;}
    .vertical-wrapper ul.megamenu > li {
        .fa-caret-right{
            float: left;
            transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
        }
        a img{margin-right: 0;margin-left: 10px;}
        > .sub-menu{
            right: 100% !important;
            left: auto;
        }
        &.item-vertical.vertical-style3{
            .content .image-position{right: auto;left: -20px;}
        }
        &.item-vertical.vertical-style1 .content{
            padding: 20px 20px 0 0;
            .col-sm-4 img{
                transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
            }
        }
        &.item-vertical.vertical-style2 .content{
            padding-right: 20px;
            padding-left: 0;
        }
         &.item-vertical.css-menu .content{
            box-shadow: 3px -1px 4px 0 rgba(0, 0, 0, 0.1);
            .menu > ul > li{
                b{
                    float: left;
                    transform: rotateY(-180deg);
                }
                ul{
                right: 100%;
                }
            }
        }
    }
}
/*-----------------SLIDESHOW--------------*/
#so-slideshow{float: right;margin-right: 0;margin-left: 10px;
    .module.slideshow{margin: 0 0 10px;}

}
/*---------------------------------------*/
.module.style-dev-so-extraslider .so-extraslider .owl2-controls .owl2-nav{
    div.owl2-prev{left: 7px;right: auto}
    div.owl2-next{left: 37px;right: auto}
}
/*---------------------------------------*/
.wap-listing-tabs .item-cat-image{float: right;}
.module.style-dev-so-listing-tabs {
    .owl2-controls .owl2-nav{
        div.owl2-prev{left: 7px;right: auto;}
        div.owl2-next{left: 37px;right: auto;}
    }
    .owl2-carousel .owl2-stage-outer{
        direction: rtl;
    }
}
//
.module.so-latest-blog .so-blog-external .blog-external .media .item .media-body{
    direction: rtl;
}
//
.so-deal .product-thumb{
    direction: rtl;
    .item-timer .time-item{
        float: right;
        &:before{
            right: auto !important;
            left: -2px;
        }
    }
}
/*-----------------------------------------*/
.newsletter{
    .group-form .form-group .subcribe{right: auto;left: 0;}
    .group-content{text-align: right}
}
//
.module.so-basic-product-style-dev .so-basic-product .item-wrap .panel-default .panel-heading .panel-title .counter{float: right;}
/*------------------ OTHER ----------------- */
 .module.style-dev-so-listing-tabs  .so-listing-tabs {
    .ltabs-wrap .wap-listing-tabs .item-cat-image{float: right;}
    .wap-listing-tabs {
        border-width: 1px 0 1px 0;
        &:before{
            right: auto;
            left: 0;
        }
        .ltabs-items-container .ltabs-items .ltabs-item .item-inner{
        border-width: 0 0 0 1px;
        }
    }
}

