/*--------------------STYLE MODULE--------------
	*------------ 1. Search Pro ----------- *
	*------------ 2. Block Language ------- *
	*------------ 3. Slideshow ------------ *
	*------------ 4. Block Cart ----------- *
	*------------ 5. Vertical Menu--------- *
	*------------ 6. Block Category ------- *
	*------------ 7. Other Module --------- *
*/

/*-------- MODULE SEARCH ------------*/


/*-------------- 2. LANGUAGE BLOCK -------------------------*/

//------------------CURRENCY BLOCK -------------------------

/* ************************************************************************************************/

/*-------------------- 3. SLIDESHOW --------------------*/


/*========================== 4. BLOCK CART ======================*/


/*-------------------- 5. VERTICAL MENU ---------------------*/


/*------------------- 6. BLOCK CATEGORIES -----------*/

/*----------- 7. OTHER MODULES -------*/
// 7.1. MODULE SO DEALS
.module.style-dev-so-deals{
    width: 28.505747126%;
    float: left;
    margin: 0 0 10px;
    position: relative;
    overflow: hidden;
    h3.modtitle{
        position: absolute;
        top: -28px;
        left: -60px;
        z-index: 9;
        background: #f4262e;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        padding: 43px 54px 10px;
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        text-align: center;
        span{
            width: 100%;
            display: block;
            font-size: 12px;
            font-weight: normal;
        }
    }
    .so-deal{
        margin: 0;
        &.button-type2{
            .owl2-nav{
                position: absolute;
                top: 32%;
                left: 0;
                width: 100%;
                pointer-events: none;
                z-index: 9;
                transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
            }
            .owl2-controls{margin: 0;line-height: normal;position: relative;z-index: 2;}
            .owl2-next,
            .owl2-prev{
                background: none;
                opacity: 1;
                border-radius: none;
                top: 30%;
                cursor: pointer;
                pointer-events: auto;
            }
            .owl2-prev{
                left: 10px;
                position: absolute;
                &:before{
                    content: "\f104";
                    font-family: fontawesome;
                    display: block;
                    color: #999;
                    font-size: 30px;
                    position: absolute;
                    left: 0;
                }
                &:hover{&:before{color: $linkColor;}}
            }
            .owl2-next{
                left: auto;
                position: absolute;
                right: 10px;
                &:before{
                    content: "\f105";
                    font-family: fontawesome;
                    display: block;
                    color: #999;
                    font-size: 30px;
                    position: absolute;
                    right: 0;
                }
                &:hover{&:before{color: $linkColor;}}
            }
            .owl2-dots{
                position: absolute;
                bottom: 0;
                width: 100%;
                background: #eee;
                border-top: 1px solid #ddd;
                padding: 6px;
                border-radius: 0;
                text-align: center;
                .owl2-dot{
                    cursor: pointer;
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    background: #999;
                    margin: 0 2px;
                    border-radius: 0;
                    span{display: none;}
                    &.active{background: $background1;}
                }
            }
        }
        .extraslider-inner{
            
            border: none;
            padding: 0;
            border: 1px solid #ddd;
            
            .owl2-item{
                position: relative;
                padding-top: 30px;
                min-height: 368px;
                .image{
                    
                }
                .item-time{
                    top: 16px;
                    bottom: auto;
                    left: auto;
                    right: 15px;
                    .time-item{
                        width: auto;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 20px;
                        text-shadow: 1px 1px 1px #333;
                        color: #fff;
                        background: #fb003b;
                        position: relative;
                        &:before{
                            content: ":";
                            position: absolute;
                            right: -2px;
                            top: 5px;
                            color: #fff;
                            z-index: 3;
                            font-weight: normal;
                        }
                        &.time-sec{&:before{display: none;}}
                        &.time-day, &.time-min{
                            background: #d60033;
                             .name-time{
                                background: #d60033;
                             }
                             .num-time{
                                background: #d60033;
                             }
                        }
                        .num-time{
                            border: none;
                            background: #fb003b;
                            padding: 6px 8px;
                            position: relative;
                            z-index: 2;
                            min-width: 35px;
                        }
                        .name-time{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            opacity: 0;
                            background: #fb003b;
                            z-index: 1;
                            transition: all 0.3s ease-in-out;
                        }
                        &:nth-child(1){
                            .name-time{transition-delay: 0.05s;}
                        }
                        &:nth-child(2){
                            .name-time{transition-delay: 0.1s;}
                        }
                        &:nth-child(3){
                            .name-time{transition-delay: 0.15s;}
                        }
                        &:nth-child(4){
                            .name-time{transition-delay: 0.2s;}
                        }
                    }
                    
                }
                .caption{margin: 0;padding: 0 15px;
                    .rating{
                        @extend .lib-ratting;

                    }
                    .price .price-new, .price span.price{font-size: 16px;}
                }
                &:hover{
                    .item-time .time-item{
                        .num-time{
                            border-bottom: 2px solid #fff;
                        }
                        .name-time{
                            top: 100%;
                            opacity: 1;
                            transition: all 0.3s ease-in-out;
                        }
                        &:nth-child(1){
                            .name-time{transition-delay: 0.05s;}
                        }
                        &:nth-child(2){
                            .name-time{transition-delay: 0.1s;}
                        }
                        &:nth-child(3){
                            .name-time{transition-delay: 0.15s;}
                        }
                        &:nth-child(4){
                            .name-time{transition-delay: 0.2s;}
                        }
                    }
                }
            }
        }
    }
}
// 7.2. MODULE CUSTOM 
.module.banner-block-slideshow-h1{
    width: 100%;
    display: block;
    .content-banner{margin: 0 -5px;
        .item{
            float: left;
            &:nth-child(1),
            &:nth-child(2){
                width: 35.227272727%;
                padding: 0 5px;
            }
            &:nth-child(3){
                width: 29.545454545%;
                padding: 0 5px;
            }
        }
    }
}

.module.banner{
    a{
        display: block;
        overflow: hidden;
        position: relative;
        &:before{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            border: 70px solid rgba(255,255,255, 0);
            top: 0;
            left: 0;
            transition: all 0.3s ease-in-out;
           
        }
        &:after{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            opacity: 0.5;
            border: 30px solid #fff;
            top: 0;
            left: 0;
            transform: scale(0);
            -moz-transform: scale(0);
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transition: all 0.3s ease-in-out;
        }
       
        &:hover{
            &:before{
                border: 0 solid rgba(255,255,255, 0.7);
                transition: all 0.5s ease-in-out;
            }
            &:after{
                transform: scale(0.8);
                -moz-transform: scale(0.8);
                -webkit-transform: scale(0.8);
                -ms-transform: scale(0.8);
                opacity: 0;
                transition: all 0.5s ease-in-out;
                transition-delay: 0.1s;
            }
            
        }
    }
}
// 7.3. MEGA MENU HORIZONTAL AND VERTICAL
.common-home .megamenu-style-dev .vertical .dropdown-menu{display: block;}
.megamenu-style-dev{
    img:hover{opacity: 0.8;}
    .navbar-default{
        background: none;
        .horizontal{
            .megamenu-wrapper{background: none;
                ul.megamenu {
                    li .sub-menu .content{
                        background: #fff none repeat scroll 0 0;
                        border-width: 2px 0 0;
                        border-color: $linkColor;
                        border-style: solid;
                        border-radius: 2px;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
                        border-top: 2px solid $linkColor;
                        .border{
                            display: none;
                        }
                        .hover-menu a{
                            &:before{display: none;}
                            b{display: none;}
                        }
                        .title-submenu{
                            padding: 0 0 5px;
                            margin: 0 0 5px;
                            border-bottom: 1px solid #ddd;
                            font-weight: 16px;
                            text-transform: uppercase;
                            color: #000;
                            &:hover{color: $linkColor;}
                            
                        }
                    }
                    > li.fix-non-full-width{
                        position: relative;
                        .sub-menu{
                            max-width: none;
                        }
                    }
                    > li.css-menu{
                        position: relative;
                        .sub-menu{
                            max-width: none;
                            ul li{
                                border-bottom: 1px solid #ddd;
                                padding: 8px 0;
                                &:last-child{
                                    border: none;
                                }
                            }
                        }
                    }
                }
                .features-menu{
                    h3{
                        font-weight: 400;
                        font-size: 16px;
                        color: #000;
                        text-transform: uppercase;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #ddd;
                    }
                    .layout-color{
                        .color{
                            a{margin: 0 5px;}
                            padding:  2px 0;
                            &:before{
                                content: "";
                                height: 20px;
                                width: 20px;
                                display: inline-block;
                                position: relative;
                                top: 5px;
                            }
                            &.orange{
                                &:before{
                                    background-color: #fe5621;
                                }
                            }
                            &.blue{
                                &:before{
                                    background-color: #02a8f3;
                                }
                            }
                            &.green{
                                &:before{
                                    background-color: #8ac249;
                                }
                            }
                            &.pink{
                                &:before{
                                    background-color: #e81d62;
                                }
                            }
                            &.red{
                                &:before{
                                    background-color: #df1f26;
                                }
                            }
                        }
                    }
                    img{border: 1px solid #ddd;margin: 0 0 10px;}
                }
                .with-sub-menu{
                    .menu li{
                        padding: 5px 0;
                    }
                }
                ul.megamenu > li > a{
                    font-weight: normal;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #444;
                    text-shadow: none;
                    padding: 22px 15px 35px;
                    height: auto;
                }
                ul.megamenu > li > a:hover,
                ul.megamenu > li.active > a,
                ul.megamenu > li.home > a,
                ul.megamenu > li:hover > a{
                    background: none;
                    color: $linkColor;
                }
            }
        }
        .vertical {
            #menuHeading{cursor: pointer;
                .megamenuToogle-wrapper{background: none;
                    .container{
                        padding: 15px 20px!important;
                        > div{
                            margin: 3px 9px 0 0;
                        }
                    }
                }
            }
            .vertical-wrapper{
                border-width: 0 1px 1px 1px;
                border-style: solid;
                border-color: #ddd;
                margin: 0;
                padding: 10px 0 0;
                box-shadow: none;
                border-radius: 0;
                ul.megamenu > li > a img{height: auto;}
                &:before{
                    border-color:  transparent transparent #fff;
                    border-style: solid;
                    border-width: 0 8px 10px;
                    top: -10px;
                    content: "";
                    height: 0;
                    left: 20px;
                    position: absolute;
                    width: 0;
                    z-index: 1;
                }
                ul.megamenu > li{
                    margin: 0;
                    border: none;
                    > a{
                        padding: 7px 15px 8px;
                        font-size: 13px;
                        margin: 0;
                        color: #444;
                        background: #fff !important;
                        strong i{font-size: 9px;padding-right: 5px;color: #999;}
                    }
                    &:hover{
                        > a{
                            background: $background1 !important;
                            color: #fff;
                            i{color: #fff;}
                        }
                    }
                }
                ul.megamenu {
                    .title-submenu{color: #444;}
                    .fa-caret-right{float: right;margin-top: 5px;color: #999;padding: 0;}
                    .item-vertical.vertical-style1{
                        
                        .content{
                            padding: 20px 0 0 20px;
                            overflow: hidden;
                            .col-sm-4{padding: 0;
                                img{
                                    margin-top: 45px;
                                }
                            }
                            > .border{border: none;padding: 0;}
                            .row:nth-child(3){
                                padding: 12px 20px;
                                background: #eee;
                                margin: 0 -20px;
                            }
                        }
                    }
                   
                    .item-vertical.vertical-style2{
                        .content{
                            padding-right: 0;
                            padding-bottom: 0;
                            padding-top: 0;
                            .static-menu .menu ul li{
                                padding: 0;
                                line-height: 26px;
                                a.main-menu{margin: 0 0 10px;}
                            }
                            .static-menu .menu > ul{
                                margin-top: 20px;
                                ul li{padding: 1px 0; }
                                > li{margin: 0 0 20px;
                                    &:last-child{margin: 0 ;}
                                }
                            }
                        }
                    }
                    .item-vertical.vertical-style3{
                        .content{
                            
                            > .border{border: none;padding: 0;}
                            .image-position{
                                position: absolute;
                                bottom: 30%;
                                right: -20px;
                            }
                        }
                    }
                    .item-vertical.css-menu{
                        .content{
                            padding: 0;
                            .menu > ul{
                                padding: 0;
                                >li{
                                    padding: 5px 20px;
                                    position: relative;
                                    border-bottom: 1px solid #ddd;
                                    &:last-child{border: none;}
                                    b{
                                       position: relative;
                                       top: 4px;
                                        
                                    }
                                    &:hover{ >a{color: $linkColor;}}
                                    ul{
                                        padding: 0;
                                        &:before, &:after{display: none;}
                                        top: 0;
                                        margin: 0;
                                        box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
                                        
                                        li{
                                            padding: 5px 20px;
                                            border-bottom: 1px solid #ddd;
                                            &:last-child{border: none;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                    li .sub-menu .content{
                        box-shadow: 3px 1px 4px 0 rgba(0, 0, 0, 0.1);
                        .hover-menu a{
                            &:before{display: none;}
                            &:hover{
                                &:before{color: $linkColor;}
                            }
                        }
                        .static-menu .menu {
                            > ul > li{padding-top: 25px;&:nth-child(1){padding-top: 0;}}
                            ul{
                                
                                li a.main-menu{
                                    color: #444;
                                    font-size: 18px;
                                    margin: 0 0 15px;
                                }
                                ul{
                                    padding: 0;
                                    li{padding: 2px 0;font-size: 12px;
                                        &:before{
                                            display: none;
                                        }
                                        &:hover{
                                            color: $linkColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .loadmore{
                        border-top: 1px solid #ddd;
                        &:hover{
                            background: $background1;
                            color: #fff;
                            span{color: #fff;}
                        }
                    }
                }
               
            }
        }
    }
}
// 7.3 SO BASIC PRODUCT
.module.so-basic-product-style-dev{
    h3.modtitle{margin: 0;}
    .panel-group{margin: 0;}
    .so-basic-product{
        .item-wrap{
            margin: 0;
            .panel-default{
                border-radius: 0;
                margin: 0;
                border: none;
                .panel-collapse{
                   .panel-body{
                    border: none;
                   }
                    &.in{
                        border: 1px solid #ddd;
                        margin-top: -2px;
                    }
                    
                }
                .panel-heading{
                    padding: 0;
                    margin: 0 0 1px;
                    background: #eee;
                    cursor: pointer;
                    border-radius: 0;
                    overflow: hidden;
                    &.active{
                        display: none;
                    }
                    .panel-title{
                        .counter{
                            padding: 12px 9px;
                            background: #666;
                            color: #fff;
                            font-size: 14px;
							float: left;
                        }
                        .title{
                            padding: 10px;
                            color: #666;
                            font-size: 14px;
                            font-weight: bold;
                            display: block;
							overflow: hidden;
                        }
                    }
                    &:hover{
                      
                        .panel-title{
                            .counter{
                                background: $background1;
                            }
                            
                        }
                    }
                }
                .panel-body{
                    padding: 0;
                    .item-inner{
                        text-align: center;
                        position: relative;
                        .button-group{
                            position: absolute;
                            top: 30%;
                            left: 0;
                            width: 100%;
                            .wishlist,.compare{border: none;background: $background1; border-radius: 0; width: 34px; height: 34px; text-align: center;color: #fff;border-radius: 4px;position: relative;z-index: 1;
                                &:hover{ background: darken($background1, 20%);}
                            }
                            .wishlist{
                                opacity: 0;
                                transform: translateX(40px);
                                -moz-transform: translateX(40px);
                                -webkit-transform: translateX(40px);
                                -ms-transform: translateX(40px);
                                @include transition(all 0.3s ease-in-out 0s);
                            }
                            .addToCart{ @include transition(all 0.3s ease-in-out 0s); position: relative;border: none;opacity: 0;background: transparent;color: #999;font-size: 12px; font-weight: 500; text-transform: uppercase;height: 34px;top: 1px; padding: 5px 8px 5px;border-radius: 4px;z-index: 2;background: $background1;color: #fff;&:hover{background: darken($background1, 20%)}}
                            .compare{
                                opacity: 0;
                                transform: translateX(-40px);
                                -moz-transform: translateX(-40px);
                                -webkit-transform: translateX(-40px);
                                -ms-transform: translateX(-40px);
                                @include transition(all 0.3s ease-in-out 0s);
                            }
                        }
                        .caption{
                            .title-product{
                                a{color: #666;font-weight: bold;}
                                &:hover a{color: $linkColor;}
                            }
                            .rating {
                                @extend .lib-ratting;
                            }
                            .price .price-new, .price span.price{font-size: 16px;}
                        }
                    }
                    &:hover{
                        .button-group{
                            .wishlist{
                                transform: translateX(0);
                                -moz-transform: translateX(0);
                                -webkit-transform: translateX(0);
                                -ms-transform: translateX(0);
                                opacity: 1;
                                @include transition(all 0.3s ease-in-out 0s);
                            }
                            .compare{
                                transform: translateX(0);
                                -moz-transform: translateX(0);
                                -webkit-transform: translateX(0);
                                -ms-transform: translateX(0);
                                opacity: 1;
                                @include transition(all 0.3s ease-in 0s);
                            }
                            .addToCart{ @include transition(all 0.3s ease-in-out 0s); background: $background1; color: #fff; border-color: $linkColor;opacity: 1;}
                        }
                    }
                }
            }
        }
    }
}
// 7.4. SO EXTRASLIDER
.module.style-dev-so-extraslider{position: relative;
    h3.modtitle{margin: 0;}
    .so-extraslider.button-type1 .owl2-dots{display: none !important;}
    .so-extraslider{
        margin: 0;
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: #f7f7f7;
        .owl2-controls .owl2-nav {
            div.owl2-prev{
                content: "\f104";
                top: 7px;
                left: auto;
                right: 37px;
            }
            div.owl2-next{
                content: "\f105";
                top: 7px;
                left: auto;
                right: 7px;
            }
            div.owl2-prev, div.owl2-next{
                height: 25px;
                width: 25px;
                border-radius: 25px;
                background: #fff;
                opacity: 1;
                border: 1px solid #a0a0a0;
                color: #a0a0a0;
                font-size: 0;
                margin: 0;
                padding: 0;
                text-align: center;
                &:before{
                    font-size: 17px;
                    line-height: 22px;
                    text-align: center;
                    
                }
                &:hover{
                    border-color: $linkColor;
                    color: $linkColor;
                }
            }
        }
        .extraslider-inner{
            border-width: 0 0 1px 1px;
            border-style: solid;
            border-color: #ddd;
            clear: inherit;
            padding-bottom: 0;
            .item{
                
                .item-wrap{
                    border-width: 0 1px 0 0;
                    border-style: solid;
                    border-color: #ddd;
                    .item-wrap-inner{
                        margin: 0;
                        padding: 0;
                        
                        .item-image{
                            border: none;
                            padding: 30px 15px;
                            img{width: auto;}
                            .label-sale{
                                left: -38px;
                                top: 6px;
                                z-index: 9;
                            }
                            .quickview{
                                @extend .lib-quickview;
                            }
                        }
                        .item-info{
                            background: #fff;
                            text-align: center;
                            .item-title {margin: 0 0 5px;padding: 0 10px;
                                a{
                                font-size: 14px;
                                color: #666;
                                text-transform: inherit;
                                &:hover{
                                    color: $linkColor;
                                }
                                }
                            }
                            .content_price{
                                .product-price{
                                    font-size: 16px;
                                    font-weight: bold;
                                    color: #df1f26;
                                }
                                .price-percent-reduction, .price-old{font-size: 12px;color: #999;}
                                
                            }
                            .item-des{color: #666;}
                            .rating{margin: 0 0 5px;
                                @extend .lib-ratting;
                            }
                            .wishlist{margin: 0;}
                        }
                        &:hover{
                            .item-title a{color: $linkColor}
                            .button-group{
                                 @extend .button-group-over;
                            }
                            .quickview{
                                @extend .lib-quickview-over;
                            }
                        }
                    }
                }
            }
            
        }
    }
}
// 7.4 SO LATEST BLOG
.module.so-latest-blog{
    h3.modtitle{
        margin: 0;
    }
    
    .so-blog-external{
        position: relative;
        .owl2-controls {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 2;
            margin: 0;
            border-top: 1px solid #ddd;
            padding: 10px;
            .owl2-dots{margin: 0;}
            .owl2-dot{
                height: 12px;
                width: 12px;
                border-radius: 12px;
                background: #909090;
                margin: 0 2px;
                span{display: none;}
                &.active{background: $background1;}
            }
        }
        .blog-external{
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: #ddd;
            padding: 0;
            .media{
                margin: 0;
                padding: 20px 0;
                > .item {
                    border: none;
                    .media-left{
                        float: none;
                        margin: 0 0 18px;
                        padding: 0;
                        text-align: center;
                        img{margin: auto;
                            &:hover{
                                opacity: 0.7 ;
                            }
                        }
                        
                    }
                    .media-body{
                        padding: 0 20px;
                        .media-heading{margin: 0;
                            a{
                            font-size: 14px;
                            color: #666 !important;
                            font-weight: bold;
                            line-height: 22px;
                            &:hover{
                                color: $linkColor !important;
                            }
                            }
                        }
                        .description{font-size: 12px;color: #666;line-height: 22px;padding: 2px 0;}
                    }
                }
            }
        }
        &:hover{
            img{opacity: 0.8}
        }
    }
}
// 7.5. SO CATEGORY SLIDER
.module.style-dev-so-listing-tabs{
    position: relative;
    margin: 0 0 30px;
    display: block;
    overflow: hidden;
    h3.modtitle{
        margin: 0;
    }
    .so-listing-tabs{margin: 0;
        .ltabs-tabs-container{margin: 0;}
    }
    .owl2-controls{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        .owl2-nav {
            div.owl2-prev{
                content: "\f104";
                top: 7px;
                left: auto;
                right: 37px;
            }
            div.owl2-next{
                content: "\f105";
                top: 7px;
                left: auto;
                right: 7px;
            }
            div.owl2-prev, div.owl2-next{
                height: 25px;
                width: 25px;
                border-radius: 25px;
                background: #fff;
                opacity: 1;
                border: 1px solid #a0a0a0;
                color: #a0a0a0;
                font-size: 0;
                margin: 0;
                padding: 0;
                text-align: center;
                &:before{
                    font-size: 17px;
                    line-height: 22px;
                    text-align: center;
                    
                }
                &:hover{
                    border-color: $linkColor;
                    color: $linkColor;
                }
            }
        }
    }
    
    .list-sub-cat{
        padding: 0;
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: #ddd;
        display: block;
        overflow: hidden;
        margin: 0 0 30px;
        li.item-cate{
            display: inline-block;
            width: 10%;
            float: left;
            border-width: 0 1px 0 0;
            border-color: #ddd;
            border-style: solid;
            text-align: center;
            padding: 10px 0;
            margin: 0;
            .ltabs-tab-img{
                margin: 0;
                float: none;
                height: auto;
                img{
                display: block;
                height: 35px;
                margin: 10px auto;
                background: none !important;
                }
            }
            .title-sub-cate{
                font-size: 13px;
                font-weight: bold;
                text-transform: capitalize;
                color: #666;
            }
            
            &.tab-sel,&:hover{
                background: #eee;
                .title-sub-cate{color: $linkColor;}
            }
        }
    }
    .wap-listing-tabs{
        border-width: 1px 0 1px 1px;
        border-color: #ddd;
        border-style: solid;
        position: relative;
        &:before{
            content: "";
            height: 100%;
            width: 1px;
            right: 1px;
            top: 0;
            background: #ddd;
            position: absolute;
        }
        .item-cat-image{
            width: 23.076923076%;
            img{
                &:hover{
                    opacity: 0.7;
                }
            }
        }
        .ltabs-items-container{
            
            .ltabs-items .ltabs-item {
                margin-bottom: 0;
                .item-inner {
                    margin: 0;
                    border-width: 0 1px 0 0;
                    border-style: solid;
                    border-color: #ddd;
                    text-align: center;
                    padding: 20px 0;
                    overflow: hidden;
                    .image{position: relative;padding: 10px ;
                        img{width: auto;background: none;}
                        .quickview{
                            @extend .lib-quickview;
                        }
                        .label-sale{background: #ff7e00;}
                        .label-new{background: #01b1e2}
                        .label-sale, .label-new{
                            transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            font-size: 12px;
                            left: -28px;
                            top: -12px;
                            height: 25px;
                            line-height: 25px;
                            padding: 0;
                            min-width: 110px;
                            font-weight: bold;
                            z-index: 2;
                            &:after{
                                display: none;
                            }
                        }
                    }
                    .caption{
                        
                        text-align: center;
                        .item-title {margin: 0 0 5px;padding: 0 10px;
                            a{
                            font-size: 14px;
                            color: #666;
                            text-transform: none;
                            font-weight: bold;
                                &:hover{
                                    color: $linkColor;
                                }
                            }
                        }
                        .price{
                            .price-new{
                                font-size: 16px;
                                font-weight: bold;
                                color: #df1f26;
                            }
                            .price-old{font-size: 11px;color: #999;}
                            
                        }
                        .item-des{color: #666;}
                        .rating{margin: 0 0 5px;
                            @extend .lib-ratting;
                        }
                        .wishlist{margin: 0;}
                    }
                    &:hover{
                        .item-title a{color: $linkColor}
                        .button-group{
                             @extend .button-group-over;
                        }
                        .quickview{
                            @extend .lib-quickview-over;
                        }
                    }
                }
            }
        }
    }
}
// 7.6. Newletter
.newsletter{
    text-align: center;
    .group-form{
        display: inline-block;
        min-width: 50%;
        padding: 0 10px;
      
        .form-group{
            position: relative;
            margin: 0;
            border-radius: 6px;
            overflow: hidden;
            bottom: -8px;
            &:before{
                height: 2px;
                width: 100%;
                bottom: 0;
                left: 0;
                position: absolute;
                background: #000;
                opacity: 0.2;
                content: "";
                z-index: 2;
            }
            .input-lg{height: 44px;}
            .subcribe{
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                button{
                    font-size: 12px;
                    background: $background1;
                    color: #fff;
                    font-weight: bold;
                    border: none;
                    height: 100%;
                    &:hover{
                        background: #444;
                    }
                }
            }
        }
    }
    .group-content{display: inline-block;padding: 0 10px;text-align: left;
        color: #fff;
        h2{font-size: 16px;font-weight: bold;margin: 0;}
        .page-heading-sub{font-size: 12px;margin: 0;}
    }
}
// 7.7 BRAND
#manu{
    border: 1px solid #ddd;
    padding: 5px 0;
    img{&:hover{opacity: 0.5}}
    .owl-controls{position: absolute;width: 100%;height: 0;top: 50%;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);
        .owl-pagination{display: none;}
        .owl-buttons div{
            opacity: 1;
            color: #999;
            font-size: 20px;
            margin-top: -10px;
            i{font-size: 20px;}
            &:hover{
                color: $linkColor;
            }
        }
    
    }
}
// 7.8. HTML FOOTER
.module.custom-html-footer{
    .item{
        text-align: center;
        .icon{
            margin: 0 0 20px;
            display: block;
        }
        h3.title{
            font-size: 12px;
            color: #444;
            margin: 0 0 3px;
            font-weight: bold;
        }
        .content{
            font-size: 12px;
            line-height: 16px;
            color: #666;
        }
        &:hover{cursor: pointer;
            h3.title{color: $linkColor;}
        }
    }
}
// 7.9. HOT TAGS
.so-popular-tag{padding: 20px 0;border-bottom: 1px solid #ddd;
    h3.modtitle{
        color: #444;
        text-transform: capitalize;
    }
    a{color: #444;
        &:after{
            content: "|";
            display: inline-block;
            margin: 0 5px;
            color: #ddd;
        }
        &:last-child{&:after{display: none;}}
        &:hover{color: $linkColor;}
    }
}
